.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* background: #fff; */
  background: rgba(255, 255, 255, 0);

  width: 100%;
  min-height: 70px;
  height: fit-content;
  padding: 15px 50px;

  position: fixed;
  top: 0;
  z-index: 100;
}
.wrapper > span {
  width: 15% !important;
  margin: auto 0 !important;
}
.navLinks {
  gap: 25px;
  width:75%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navLinks > span {
  cursor: pointer;
}
.navLinks > a {
  font-family: Comfortaa;
  font-size: 20px;
  font-weight: 300;
}
.navLinks > span {
  margin-bottom: 10px !important;
}

.navLinks > a {
  color: #fff;
  text-decoration: none;
  position: relative;
}
.navLinks > a:after {
  content: "";

  padding-bottom: 2px;
  position: absolute;
  border-bottom: 2px solid;
  bottom: -3.5px;

  width: 0;
  left: 50%;

  transition: width 0.5s ease 0s, left 0.5s ease 0s;
}
.navLinks > a:hover::after {
  width: 100%;
  left: 0;
}
.header_button{
  background: transparent;
  color: #fff;
  padding: 1rem;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 300;
  font-family: 'Comfortaa';
  border: 2px solid #fff;
  cursor: pointer;
  transition: transform .2s;
  
}
.header_button:hover{
  box-shadow: rgba(246, 246, 246, 0.986) 0px 5px 15px;
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1); 
}
.wrapper > div:last-child {
  /* width: 15%; */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu {
  height: fit-content;
  cursor: pointer;
}

.menu > span:last-child {
  display: none !important;
}

/* responsive screens */

@media (max-width: 1000px) {
  .wrapper {
    padding: 10px 25px;
  }

  .navLinks > a {
    display: none;
  }

  .menu {
    justify-content: flex-end !important;
  }
  .menu > span {
    display: none !important;
  }
  .menu > span:last-child {
    display: inline-block !important;
  }

  .active_header > a {
    display: inline;
  }
  .active_header {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  .active {
    overflow-y: hidden;
    align-items: flex-start;
  }
  .active > div {
    margin-top: 7.5px;
  }
}

/* - - - - - - - - - - */
