.wrapper {
  padding-top: 81px;

  position: fixed;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 64.3772%;
  padding-bottom: 48px;
  box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
  margin: 0;
  overflow: hidden;
  border-radius: 8px;
  will-change: transform;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  padding: 0;
  margin: 0;

  width: 100vw;
  height: calc(100vh - 81px);
}

@media (max-width: 1000px) {
  .wrapper {
    padding-top: 71px;
  }
  .iframe {
    height: calc(100vh - 81px);
  }
}
