.fixed_social_icons{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: fixed;
    top: 150px;
    right: 50px;
    animation: zoom-in-zoom-out 5s ease-in-out infinite;
}
@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }
.fixed_social_icons>span{
    cursor: pointer;
}
